In [11]:
import numpy as np
import pandas as pd
from collections import Counter

from sklearn.datasets import make_classification

from sklearn.metrics import accuracy_score

# Data Creation

In [50]:
# Define the traning data.
X, y = make_classification(n_samples=1000, n_classes=2)

# Chnage the shape of the target to 1 dimentional array.
y = y[:, np.newaxis]

print("="*100)
print("Number of training data samples-----> {}".format(X.shape[0]))
print("Number of training features --------> {}".format(X.shape[1]))
print("Shape of the target value ----------> {}".format(y.shape))

====================================================================================================
Number of training data samples-----> 1000
Number of training features --------> 20
Shape of the target value ----------> (1000, 1)

In [51]:
# display the data.
data = pd.DataFrame(X)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.255884,-0.952313,0.605330,-1.786662,-0.017455,-0.009640,-0.102487,-0.019561,-0.450770,0.812081,0.163994,-0.610864,-1.466559,-0.319521,0.296490,0.717293,0.418104,0.272176,1.010787,0.395216
1,-0.172213,-0.736741,-1.604251,-0.093186,0.883577,-0.694262,0.938463,1.439004,-0.654626,0.608227,1.261100,0.631545,-1.181008,1.445022,-0.546277,0.271678,0.602017,0.390466,0.248185,0.038316
2,-0.105165,-0.548203,-1.040352,-1.061356,-0.769732,-0.847023,-0.966333,0.693139,0.862787,-1.234908,0.305726,-0.833034,-2.103516,1.229620,0.282516,0.084600,0.696550,0.451091,1.529067,0.364924
3,0.269233,0.476647,0.464397,2.362807,0.593248,-3.076019,0.420973,-0.029371,-0.325746,-1.231784,-0.064874,-0.401916,1.542220,-0.634286,-0.219892,-0.230808,1.317915,0.850070,-0.025690,-1.720861
4,0.453294,1.363347,0.514851,-2.108918,-1.302391,1.094659,0.413497,-0.851119,2.316619,2.342833,2.007783,0.095451,0.592892,0.751268,-0.664948,0.219356,0.342309,0.217992,0.376398,0.639571

In [52]:
# display the data.
data_y = pd.DataFrame(y)
data_y.head()

   0
0  0
1  0
2  0
3  1
4  1

# K-nearest Neipours (KNN) from scratch

In [53]:
def euclidean_distance(x1,x2):
    """
    """
    distance = 0
    for i in range(len(x1)):
        distance += np.square(x1[i] - x2[i])
    return np.square(distance)

In [54]:
class KNN:
    """
    """
    def __init__(self, n_neibours=5):
        """
        """
        self.n_neibours = n_neibours
    
    def most_frequent_class(self, neibours_y):
        """
        """
        counts = np.bincount(neibours_y)
        return counts.argmax()

    def train(self, X, y):
        """
        """
        # there is no learning nedded in KNN. Everything happening at the time of prediction.
        self.m , self.n = X.shape
        self.train_X = X
        self.train_y = y

    def predict(self, test_X):
        """
        """
        # create a empty y_pred array to store the prediction.
        y_pred = np.empty((test_X.shape[0], 1))
        # iterate over all the test dataset.
        for index, test_x in enumerate(test_X):
            # Find the euclidean distance between text x sample and all train X values.
            distance = [euclidean_distance(test_x, train_x ) for train_x in self.train_X]

            # Sort the distance and get the first smallest k-neibours's index.
            n_neibours_index = np.argsort(distance)[: self.n_neibours]

            # Get the neibours corresponding train_y value.
            n_neibours_y = np.array([self.train_y[ind][0] for ind in n_neibours_index ])

            # Get the most frequent class in the n_neibours group as a prediction for that test_x sample.
            y_pred[index] = self.most_frequent_class(n_neibours_y)

        return y_pred

In [57]:
#define the parameters
param = {
    "n_neibours" : 5
}
print("="*100)
knn_cla = KNN(**param)

# Train the model.
knn_cla.train(X, y) 

# Predict the values.
y_pred = knn_cla.predict(X)

#calculate accuracy.
acc = np.sum(y==y_pred)/X.shape[0]
print("="*100)
print("Accuracy of the prediction is {}".format(acc))

====================================================================================================
====================================================================================================
Accuracy of the prediction is 0.883

# KNN using scikit-learn for comparision

In [59]:
from sklearn.neighbors import KNeighborsClassifier

In [60]:
# data is already defined, going to use the same data for comparision.
print("="*100)
print("Number of training data samples-----> {}".format(X.shape[0]))
print("Number of training features --------> {}".format(X.shape[1]))

====================================================================================================
Number of training data samples-----> 1000
Number of training features --------> 20

In [61]:
knn_sklearn = KNeighborsClassifier(n_neighbors=5)
knn_sklearn.fit(X, y)

# predict the value
y_pred_sklearn = knn_sklearn.predict(X)
acc = accuracy_score(y, y_pred_sklearn)
print("="*100)
print("Accuracy of the prediction is {}".format(acc))

====================================================================================================
Accuracy of the prediction is 0.883

/home/pavithra/.local/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

# Conclution

- 1. The accuracy of out model is very much the same as scikit-learn KNN. :)
- 2. But our model is little bit slow and so expensive since it is calculating distance with all tarin x for each test x sample. :(

# Supervised Machine Learning models scratch series....
you can also check....

- 1) Linear Regression         ---> https://www.kaggle.com/ninjaac/linear-regression-from-scratch
- 2) Lasso Regression          ---> https://www.kaggle.com/ninjaac/lasso-ridge-regression 
- 3) Ridge Regression          ---> https://www.kaggle.com/ninjaac/lasso-ridge-regression 
- 4) ElasticNet Regression     ---> https://www.kaggle.com/ninjaac/elasticnet-regression 
- 5) Polynomail Regression     ---> https://www.kaggle.com/ninjaac/polynomial-and-polynomialridge-regression 
- 5) PolynomailRidge Regression---> https://www.kaggle.com/ninjaac/polynomial-and-polynomialridge-regression (Same Notebook you are looking now)
- 6) KNN Classifier            ---> (Same Notebook you are looking now)